<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/my_splash_theme"
        tools:targetApi="31">
        <activity
            android:name=".Lesson16.Onboarding.FirstActivity"
            android:exported="true"
            android:theme="@style/Theme.HelloWorld">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Lesson16.Onboarding.SecondActivity"
            android:theme="@style/Theme.HelloWorld">

        </activity>

        <activity
            android:name=".Lesson16.Onboarding.ThirdActivity"
            android:theme="@style/Theme.HelloWorld">

        </activity>

        <activity
            android:name=".Lesson16.ToDo.ToDoList"
            android:theme="@style/Theme.HelloWorld">

        </activity>

        <activity
            android:name=".Lesson16.RegAuth.Registration"
            android:theme="@style/Theme.HelloWorld">

        </activity>

        <activity
            android:name=".Lesson16.RegAuth.Authorization"
            android:theme="@style/Theme.HelloWorld">

        </activity>

    </application>

</manifest>